<div class="row action-button-margins">
  <div class="col-md-3">
    <%#= link_to "New Organization", new_organization_path, class: "btn btn-outline-primary"%>
  </div>
  <div class="col-md-3">
    <%= link_to "Show All", admins_path, class: "btn btn-outline-primary btn-md" %>
  </div>


  <div class="col-md-3">
          <b><%= link_to "Home",homes_path, class: "btn btn-outline-primary" %></b>

    <div class="nav">

      <% if user_signed_in? %>
                <b class="hi"> Hi! </b><%= current_user.email %>
                <b><%= link_to 'Log out', destroy_user_session_path, method: :delete %></b>
            </li>
          <% else %>
            <%= link_to 'Sign up', new_user_registration_path %>
            <%= link_to 'Sign in', user_session_path %>
      <% end %>
    </div>
  </div>

</div>

<div class="row action-button-margins">

  <div class="col-md-3">
     <%#= link_to "Org Name", organizations_path(order: "asc"), class: "btn btn-outline-primary" %>
     <%#= sort_link(@search, :org_name, "Org Name") %>
     <%= link_to 'Org Name',admins_path(order: "org_name"), class: "btn btn-outline-primary" %>

  </div>

  <div class="col-md-3">
     <%= link_to "Created By", class: "btn btn-outline-primary btn-md" %>
  </div>

  <div class="col-md-3">
     <%= link_to "Country", class: "btn btn-outline-primary btn-md" %>
  </div>

  <div class="col-md-3">
      <div class="one">
        <%= form_tag(admins_path,html: {class: 'sea'}, method: :get) do %>
        <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: "eg: search..." %> 
      </div>
        <div class="search">
            <%= submit_tag 'Search', org_name: nil ,class: "btn btn-outline-primary"%>
        </div>
      <% end %>
  </div>
</div>


<style type="text/css">
  .sea{
    width: 90%;
    float: right;
    margin-right: 71%;
  }
  .one{
    width: 100%;
    float: left;
    margin-left: -46%;
  }
   .nav{
    width: 113%;
    float: right;
    margin-right: -113%;
  }
  .hi{
    color: black;
    background-color: #94a294;
  }
</style>
